@charset "EUC-KR";
body,.gallery_list, .paging, .r_wrap{
	min-width:1280px;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-315%, -200%);
	color: black;
    font-size: 18px;
}
.wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 3%);
}
.gallery_list, .paging, .r_wrap{
	width: 1196px; /**flex사용하려면 가로 사이즈 있어야함.**/

}
.gallery_list li{ /**가로 배치 자식**/
	flex: 0 1 25%;
	padding: 0 0 34px;
}
.gallery_list ul{
	padding-top: 30px;
	border-top: 2px solid #006385;
	display: flex;/**가로 배치 부모**/
	flex-flow: row wrap;
}

.gallery_list li a{
	display: block;/**absolute를 이용> 부유하게 됨. 그래서 블록으로 변경**/
	line-height:1;/**줄간격 초기화**/
	width: 271px;
	height: 382px;
	border: 1px solid #ddd;
}
.img{ /**사진 부분**/
	overflow: hidden;/** 이거 안사용하면 사이즈가 임의로 아래와 같이 변경 따라서 부자연스러움 사진 자체 사이즈에는 영향을 안주지만 박스사이즈 흘러나온건 숨김.**/
	width:271px;
	height: 272px; /** 사진을 올릴때 사이즈 이 값으로 초기화 됨.**/
	position: relative;
	border-bottom: 1px solid #ddd;
}
.img img{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);/**요소의 표시 위치를 이동**/
	/**요소에 회전, 크기 조절, 기울이기, 이동 효과를 부여. transform은 CSS 시각적 서식 모델의 좌표 공간을 변경**/
}
.info{
	padding:29px 10px 0;
	
}
.info strong{
	display: block;/**글자 태그는 다 인라인 태그 가로 사이즈가 있어야 해서 블록으로 변경**/
	width: 100%; 
	overflow: hidden;/**글씨 초과되면 잘리도록**/
	white-space: nowrap; /**글씨 한줄로 만듦**/
	text-overflow: ellipsis;/**잘린 글씨 점점점**/
	font-size: 18px;
	color:#222;
	
}
.info p{
	font-size: 13px; 
	color: #888;
	padding: 20px 0 0;
	
}

.info span{
	color: #ed1846;
	font-size: 15px; 
	font-weight: bold;
}
.paging ul{
	display: flex;
	justify-content: center; /** x축 참고! https://heropy.blog/2018/11/24/css-flexible-box/ **/
	
}
.paging li{
	width: 42px;
	height:42px;
}
.paging a{
	display: block;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-size: 15px;
	color: #555;
}
li.on a:hover{
	background-color: #006385;
	color: #fff;
}
.paging li{
	/**margin: 0 7px;**/
}
li.first{
	background: url('../img/08341ee.png') no-repeat -458px -451px;
	/**margin: 0 16px 0 0; **/
}
li.prev{
	background: url('../img/08341ee.png') no-repeat -519px -92px;
	/**margin: 0 6px 0 0;**/
}
li.next{
	background: url('../img/08341ee.png') no-repeat -320px -451px;
	/**margin: 0 0 0 6px;**/
}
li.last{
	background: url('../img/08341ee.png') no-repeat -519px -46px;
	/**margin: 0 0 0 16px; **/
}
.hide{
	overflow: hidden;
	display: blodck;
	position: absolute;
	berder: 0;
	width:1px;
	height: 1px;
	clip: rect(1px,1px 1px 1px );
}