@charset "EUC-KR";

.login{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:503px;
}
.login h1{
	text-align: center;
	color: #006385;
	font-size: 42px;
	line-height: 1.1;
	letter-spacing: -2.5px;
}
.login h1 span{
	display: block;
	color: #006385;
	font-size: 32px;
	font-weight:normal;
	letter-spacing: 0;
}
.login label{
	font-size: 22px;
	color: #707070;
	padding: 0 0 0 50px;
}
.login label[for="txt1_1"]{
    background:url('./img/login-img/ico_id.png') no-repeat 0px center;
}
.login label[for="txt1_2"]{
	background:url('./img/login-img/ico_password.png') no-repeat 15px center;
}