@charset "EUC-KR";
 .wrap, body{
	min-width:1280px;
}

.wrap > a{
	text-decoration: none;
	color: #006385;
	font-size: 20px;
	cursor:pointer;
	position: absolute;
	left: 50px;
	top: 10px;
	display: block;
}
.login{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:503px;
}
.login h1{
	text-align: center;
	color: #006385;
	font-size: 42px;
	line-height: 1.4;
	letter-spacing: -0.5px;
	padding: 0 0 50px 0;
}
.login h1 span{
	display: block;
	color: #006385;
	font-size: 32px;
	font-weight:normal;
	letter-spacing: 0;
}
.login label{
	font-size: 22px;
	color: #707070;
	padding: 0 0 0 50px;
}
.login label[for="txt1_1"]{
    background:url('../img/login-img/id.png') no-repeat 15px center;
}
.login label[for="txt1_2"]{
	background:url('../img/login-img/ico_password.png') no-repeat 15px center;
 }

.login_fm input[type="text"]{
	margin: 19px 0 0;
	border: 1px solid #707070;
	height: 40px;
	font-size: 17px;
	line-height: 35px;
	box-shadow:0 0 2px 0 #707070;
}
.login_fm input[type="password"]{
	margin: 19px 0 0;
	border: 1px solid #707070;
	height: 40px;
	font-size: 17px;
    	line-height: 35px;
	box-shadow:0 0 2px 0 #707070;
}
.login input:focus{
	height:55px;
}
.login input::placeholder{
	line-height:40px;
	font-size: 15px;
}
.login li~li{
	padding:20px 0 0;
}

input.sub_bt{
	position:relative; 
	margin:52px 0 0; 
	width:100%; 
	height: 79px;
	background-color: #006385; 
	border-radius: 11px;
	font-size:22px;
	color: #fff;
	cursor: pointer;
}
input.sub_bt:hover{
	box-shadow: 0 0 2px 2px #707070;
}
.find h3:first-child{
	padding: 30px 0 0 0;
}
.find h3:last-child{
	padding: 5px 0 0;
}
